<p style="color: green"><%= notice %></p>

<h1>Ползватели на СПО, с които имате действащ договор</h1>

<br>

<table class="table table-striped table-bordered table-hover">
  <thead class="table-dark">
    <tr>
      <th>Име</th>
      <th>ЕИК</th>
      <th>Адрес</th>
      <th>Електронна поща</th>
    </tr>
  </thead>

  <tbody>
    <% @company_contractors.each do |company_contractor| %>
      <tr>
        <td><%= company_contractor.name %></td>
        <td><%= company_contractor.uic %></td>
        <td><%= company_contractor.address %></td>
        <td><%= company_contractor.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
