<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
  <div class="container-fluid">
  	<%= link_to 'Начало', root_path, class:"navbar-brand"%>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <%= link_to 'Документация', home_about_path, class:"nav-link" %>
        </li>
        <% if Current.user %>
          <% if session[:user_id] %>
            <li class="nav-item">
                <%= link_to 'Повдигателни съоръжения', cranes_path, class:"nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to 'Ползватели', my_companies_path, class:"nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to 'Напиши имейл', compose_user_path, class:"nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to 'Настройка на SMTP', edit_smtp_setting_path(Current.user), class:"nav-link" %>
            </li>
          <% elsif session[:company_id] %>
            <li class="nav-item">
                <%= link_to 'Напиши имейл', compose_company_path, class:"nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to 'Органи за надзор', company_check_contractors_path, class:"nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to 'Настройка на SMTP', edit_smtp_setting_path(Current.user), class:"nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to 'Информация за възложителя', company_path(Current.user), class:"nav-link" %>
            </li>
          <% end %>
        <% end %>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <div>
          <% if Current.user %>
            <li class="nav-item">
              <%= link_to Current.user.email, edit_password_path, class: 'nav-link'%>
            </li>
            <li class="nav-item">
              <%= button_to 'Изход', logout_path, method: :delete, class: 'btn btn-outline-secondary' %>
            </li>
          <% else %>
          <li class="nav-item">
            <%= link_to 'Вход', sign_in_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Регистрация', sign_up_path, class: "nav-link" %> 
          </li>
          <% end %>
        </div>
      </ul>
    </div>
  </div>
</nav>