<div id="<%= dom_id crane %>">
  <p>
    <strong>Status:</strong>
    <%= crane.status %>
  </p>

  <p>
    <strong>Registration date:</strong>
    <%= crane.registration_date %>
  </p>

  <p>
    <strong>Serial number:</strong>
    <%= crane.serial_number %>
  </p>

  <p>
    <strong>Crane Type:</strong>
    <%= crane.crane_type %>
  </p>

</div>
