<div id="<%= dom_id crane %>">
<div class="container border">
  <style>
      .row > div {
        border-right: 1px solid #dee2e6;
        padding-right: 15px;
        margin-bottom: 0;
      }

      /* Remove the border on the last column */
      .row > div:last-child {
        border-right: none;
        padding-right: 0;
        margin-bottom: 0;
      }
    </style>
  <div class="row mb-3; border-bottom">
    <div class="col-sm-4">
      <p class="mb-1"><strong>Статус:</strong></p><p class="text-muted"><%= crane.status %></p>
    </div>

    <div class="col-sm-4">
      <p class="mb-1"><strong>Тип:</strong></p><p class="text-muted"><%= crane.crane_type %></p>
    </div>

    <div class="col-sm-4">
      <p class="mb-1"><strong>Товароподемност:</strong></p><p class="text-muted"><%= crane.load_capacity %></p>
    </div>
  </div>

  <div class="row mb-3; border-bottom">
    <div class="col-sm-4">
      <p class="mb-1"><strong>Година на производство:</strong></p><p class="text-muted"><%= crane.year_of_manufacture %></p>
    </div>

    <div class="col-sm-4">
      <p class="mb-1"><strong>Номер на заявление:</strong></p><p class="text-muted"><%= crane.application_number %></p>
    </div>

    <div class="col-sm-4">
      <p class="mb-1"><strong>Дата на заявление:</strong></p><p class="text-muted"><%= crane.application_date %></p>
    </div>
  </div>

  <div class="row mb-3; border-bottom">
    <div class="col-sm-4">
      <p class="mb-1"><strong>Дата на регистрация:</strong></p><p class="text-muted"><%= crane.registration_date %></p>
    </div>

    <div class="col-sm-4">
      <p class="mb-1"><strong>Дата на последна проверка:</strong></p><p class="text-muted"><%= crane.last_check_date %></p>
    </div>

    <div class="col-sm-4">
      <p class="mb-1"><strong>Дата на следваща проверка:</strong></p><p class="text-muted"><%= crane.next_check_date %></p>
    </div>
  </div>

  <div class="row mb-2; border-bottom">
    <div class="col-sm-6">
      <p class="mb-1"><strong>Дата на спиране:</strong></p><p class="text-muted"><%= crane.suspension_date %></p>
    </div>

    <div class="col-sm-6">
      <p class="mb-1"><strong>Дата на бракуване:</strong></p><p class="text-muted"><%= crane.scrap_date %></p>
    </div>
  </div>

  <div class="row mb-2; border-bottom">
    <div class="col-sm-6">
      <p class="mb-1"><strong>Ползвател:</strong></p><p class="text-muted"><%= crane.user %></p>
    </div>

    <div class="col-sm-6">
      <p class="mb-1"><strong>Адрес на ползвателя:</strong></p><p class="text-muted"><%= crane.user_address %></p>
    </div>
  </div>

  <div class="row mb-2; border-bottom">
    <div class="col-sm-6">
      <p class="mb-1"><strong>Производител:</strong></p><p class="text-muted"><%= crane.manufacturer %></p>
    </div>

    <div class="col-sm-6">
      <p class="mb-1"><strong>Местонахождение:</strong></p><p class="text-muted"><%= crane.location %></p>
    </div>
  </div>

  <div class="row mb-2; border-bottom">
    <div class="col-sm-6">
      <p class="mb-1"><strong>Заводски номер:</strong></p><p class="text-muted"><%= crane.serial_number %></p>
    </div>

    <div class="col-sm-6">
      <p class="mb-1"><strong>Регистрационен номер:</strong></p><p class="text-muted"><%= crane.registration_number %></p>
    </div>
  </div>

  <div class="row mb-1; border-bottom">
    <div class="col-sm-12">
      <p class="mb-1"><strong>Забележки:</strong></p><p class="text-muted"><%= simple_format(crane.notes) %></p>
    </div>
  </div>
</div>

<br>