<p style="color: green"><%= notice %></p>

<h1>Списък с повдигателните съоръжения</h1>

<table>
  <thead>
    <tr>
      <th>Статус</th>
      <th>Дата на регистрация</th>
      <th>Заводски номер</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cranes.each do |crane| %>
      <tr>
        <td><%= crane.status %></td>
        <td><%= crane.registration_date %></td>
        <td><%= crane.serial_number %></td>
        <td><%= link_to 'Покажи', crane %></td> 
        <td><%= link_to 'Промени', edit_crane_path(crane) %></td> 
        <td><%= button_to 'Изтрий', crane, method: :delete, data: { confirm: 'Сигурни ли сте?' } %></td> 
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to "Добавяне на повдигателно съоръжение", new_crane_path %>
