<h1>Изпрати имейл</h1>
<br>

<h4>Имейлът ще бъде изпратен до <%= @company_email %></h4>

<% unless flash[:alert].nil? %>
    <div class="alert alert-danger" role="alert"><%= flash[:alert] %></div>
<% end %>

</br>
<div>
    Това са крановете с предстояща проверка за орган за технически надзор <%= Current.user[:name] %>:
</div>
</br>

<table class="table table-striped table-bordered table-hover">
  <thead class="table-dark">
    <tr>
      <th>Статус</th>
      <th>Регистрационен номер</th>
      <th>Дата на последна проверка</th>
      <th>Дата на следваща проверка</th>
    </tr>
  </thead>

  <tbody>
    <% @cranes_for_check.each do |crane| %>
      <tr>
        <td><%= crane.status %></td>
        <td><%= crane.registration_number %></td>
        <td><%= crane.last_check_date %></td>
        <td><%= crane.next_check_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</br>

<div>
  Това е съобщението, което ще бъде изпратено:
</div>

</br>

<div>
  <%= simple_format(@message) %>
</div>

</br>

<%= form_with url: compose_user_path do |form| %>
    <%= form.hidden_field :company_email, value: @company_email %>
    <div class='mb-3'>
        <%= form.submit 'Изпрати', class: 'btn btn-primary' %>
    </div>
<% end %>