<div id="<%= dom_id company %> " class="card">
  <div class="card-body">
    <p>
      <h5 class="card-title">Име: <%= company.name %></h5>
    </p>

    <p class="card-text">
      <strong>ЕИК:</strong>
      <%= company.uic %>
    </p>

    <p class="card-text">
      <strong>Имейл:</strong>
      <%= company.email %>
    </p>

    <p class="card-text">
      <strong>Адрес:</strong>
      <%= company.address %>
    </p>

  </div>
</div>
