<div id="<%= dom_id company %>">
  <p>
    <strong>Име:</strong>
    <%= company.name %>
  </p>

  <p>
    <strong>ЕИК:</strong>
    <%= company.uic %>
  </p>

  <p>
    <strong>Имейл:</strong>
    <%= company.email %>
  </p>

  <p>
    <strong>Адрес:</strong>
    <%= company.address %>
  </p>

</div>
