<div id="<%= dom_id company %>">
  <p>
    <strong>Name:</strong>
    <%= company.name %>
  </p>

  <p>
    <strong>Uic:</strong>
    <%= company.uic %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= company.email %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= company.address %>
  </p>

</div>
